@charset "UTF-8";
/*Color Table*/
html,
body {
  font-family: 'Helvetica', Arial, Sans-serif;
  font-size: 62.56%;
  background-image: url("../img/point.png"); }

.body {
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-size: 1.6rem;
  /*background-image: url('../img/point.png');*/ }

.orange {
  background-color: #ff6900; }

.purple {
  background-color: #52077a; }

.rose {
  background-color: #df126c; }

.header {
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 1; }
  .header > .container {
    height: 100%; }

.controllers {
  position: fixed;
  display: inline-block;
  bottom: 15vh;
  left: 0;
  right: 0;
  z-index: 1;
  height: 10vh; }
  .controllers > .container {
    height: 100%; }
    .controllers > .container > .text {
      float: left;
      height: 10vh;
      display: flex;
      align-items: center; }
      .controllers > .container > .text > h3 {
        font-family: 'Share Tech', sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        color: #fff;
        font-size: 2.5rem;
        margin: 0; }
    .controllers > .container > .button {
      float: right;
      margin: 0;
      height: 10vh;
      display: flex;
      align-items: center; }

.logo {
  position: relative;
  padding-bottom: 7.2%;
  width: 30%; }
  .logo > img {
    position: absolute;
    display: block;
    height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    font-family: "object-fit: cover; object-position: center"; }

.logo-footer {
  position: relative;
  padding-bottom: 4.22%;
  width: 14.57%;
  margin-bottom: -7px; }
  .logo-footer > img {
    position: absolute;
    display: block;
    height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    font-family: "object-fit: cover; object-position: center"; }

.pagina-1 {
  position: relative;
  width: 100%;
  height: 100vh; }

.btn {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Share Tech', sans-serif;
  display: inline-block;
  font-size: 18px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer; }

.button1 {
  background-color: transparent;
  color: #fff605;
  border: 1.5px solid #fff605; }

.button1:hover {
  background-color: #fff605;
  color: #ff6900; }

/*Página Principal*/
.main {
  position: relative;
  display: block;
  height: 100vh;
  width: 100vw;
  z-index: 0; }

.main-texts {
  bottom: -36vh;
  text-align: center;
  position: relative; }

.main-texts-2 {
  bottom: -50vh;
  text-align: center;
  position: relative; }

.main-title {
  display: flex;
  justify-content: center; }
  .main-title > h1 {
    color: #fff600;
    font-size: 6.2rem;
    background: rgba(255, 110, 11, 0.7);
    padding: 0 20px;
    letter-spacing: 0.3em;
    font-family: 'Share Tech', sans-serif;
    margin: 0; }

.main-subtitle > h2 {
  color: #fff;
  font-size: 3.2rem;
  letter-spacing: 0.6em;
  font-family: 'Share Tech', sans-serif;
  margin: 0; }

.footer-main {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border-bottom: 12px solid #fff605; }

/*Página Artistas*/
.star-texts {
  bottom: -20vh;
  text-align: left;
  position: relative; }

.star-title {
  display: flex;
  justify-content: flex-start; }
  .star-title > h1 {
    color: #fff;
    font-size: 4.5rem;
    background: rgba(82, 7, 122, 0.7);
    padding: 0 20px;
    letter-spacing: 0.2em;
    font-family: 'Share Tech', sans-serif;
    margin: 0; }

.star-subtitle > h2 {
  color: #9d45c9;
  font-size: 26px;
  letter-spacing: 0.5em;
  font-family: 'Share Tech', sans-serif;
  padding-left: 40px;
  margin-top: 30px;
  margin-bottom: 30px; }

.star-text {
  width: 28vw; }
  .star-text > p {
    color: #fff;
    font-size: 18px;
    font-family: 'Share Tech', sans-serif;
    padding-left: 40px; }

.footer-stars {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border-bottom: 12px solid #f22694; }

/*Página Estatísticas*/
.est-texts {
  bottom: -20vh;
  text-align: left;
  position: relative; }

.est-title {
  display: flex;
  justify-content: flex-start; }
  .est-title > h1 {
    color: #fff605;
    font-size: 6rem;
    padding: 0 20px;
    letter-spacing: 0.2em;
    font-family: 'Share Tech', sans-serif;
    margin: 0; }

.est-subtitle > h2 {
  color: #52077a;
  font-size: 26px;
  letter-spacing: 0.5em;
  font-family: 'Share Tech', sans-serif;
  padding-left: 40px;
  margin-top: 30px;
  margin-bottom: 30px; }

.est-text {
  width: 28vw; }
  .est-text > p {
    color: #fff;
    font-size: 18px;
    font-family: 'Share Tech', sans-serif;
    padding-left: 40px; }

.footer-est {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border-bottom: 12px solid #52077a; }

/*Página Empresa*/
.emp-texts {
  bottom: -36vh;
  text-align: center;
  position: relative; }

.emp-title {
  display: flex;
  justify-content: center; }
  .emp-title > h1 {
    color: #f22694;
    font-size: 6.2rem;
    background: rgba(82, 7, 122, 0.7);
    padding: 0 20px;
    letter-spacing: 0.3em;
    font-family: 'Share Tech', sans-serif;
    margin: 0; }

.emp-subtitle > h2 {
  color: #fff;
  font-size: 3rem;
  letter-spacing: 0.5em;
  font-family: 'Share Tech', sans-serif;
  margin: 0; }

.emp-title-1 {
  display: flex;
  justify-content: center; }
  .emp-title-1 > h1 {
    color: #f22694;
    font-size: 4rem;
    background: rgba(82, 7, 122, 0.7);
    padding: 0 20px;
    letter-spacing: 0.2em;
    font-family: 'Share Tech', sans-serif;
    margin: 0; }

.emp-subtitle-1 > h2 {
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 0.2em;
  font-family: 'Share Tech', sans-serif;
  margin: 0; }

/*Página Pagamento*/
.pag-title {
  display: flex;
  justify-content: center; }
  .pag-title > h1 {
    color: #fff600;
    font-size: 5.6rem;
    background: rgba(255, 110, 11, 0.7);
    padding: 0 20px;
    letter-spacing: 0.2em;
    font-family: 'Share Tech', sans-serif;
    margin: 0; }

.pag-subtitle > h2 {
  color: #fff;
  font-size: 3rem;
  letter-spacing: 0.5em;
  font-family: 'Share Tech', sans-serif;
  margin: 0; }

/*Página Contato*/
.cont-text {
  display: flex;
  justify-content: flex-end;
  margin-right: 16vw; }
  .cont-text > p {
    text-align: left;
    color: #fff605;
    font-size: 14px;
    font-family: 'Share Tech', sans-serif;
    padding-left: 40px; }

.owl-controls {
  height: 100vh; }

.owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  cursor: pointer;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
  background: #869791; }

.owl-theme .owl-nav {
  z-index: 2;
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #4DC7A0;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #4DC7A0; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 80px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*.nosupport 
{
	position: relative;
	height: 100vh;
	width: 100vw;
	background-color: red;
	z-index: 1000;

	> p {
		color: white;
	}

	@media only screen and (min-width: 500px) {
		display: none;
	}


}*/
.img-main {
  position: relative;
  width: 100%;
  height: 93vh;
  margin-top: 3em;
  background-image: url("../img/img-main.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.bg-main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/img-main-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/*Página Artistas*/
.img-star-ivete {
  position: relative;
  width: 100%;
  height: 93vh;
  margin-top: 3em;
  background-image: url("../img/img-stars.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

.img-star-bell {
  position: relative;
  width: 100%;
  height: 91vh;
  margin-top: 3em;
  background-image: url("../img/img-stars-1.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

.img-star-claudia {
  position: relative;
  width: 100%;
  height: 91vh;
  margin-top: 3em;
  background-image: url("../img/img-stars-2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

.img-star-leo {
  position: relative;
  width: 100%;
  height: 92vh;
  margin-top: 3em;
  background-image: url("../img/img-stars-3.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

.img-star-wesley {
  position: relative;
  width: 100%;
  height: 92vh;
  margin-top: 3em;
  background-image: url("../img/img-stars-4.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

.img-star-durval {
  position: relative;
  width: 100%;
  height: 92vh;
  margin-top: 3em;
  background-image: url("../img/img-stars-5.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

.img-star-harmonia {
  position: relative;
  width: 100%;
  height: 94vh;
  margin-top: 3em;
  background-image: url("../img/img-stars-6.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

.img-star-saulo {
  position: relative;
  width: 100%;
  height: 92vh;
  margin-top: 3em;
  background-image: url("../img/img-stars-7.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

.img-star-ricardo {
  position: relative;
  width: 100%;
  height: 92vh;
  margin-top: 3em;
  background-image: url("../img/img-stars-8.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

.img-star-oito7 {
  position: relative;
  width: 100%;
  height: 90vh;
  margin-top: 3em;
  background-image: url("../img/img-stars-9.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

/*Página Estatísticas*/
.img-est-1 {
  position: relative;
  width: 100%;
  height: 92vh;
  margin-top: 3em;
  background-image: url("../img/img-est.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

.img-est-2 {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-top: 11em;
  background-image: url(../img/img-est-2.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }
  .img-est-2 > .est-texts {
    bottom: 0vh;
    text-align: left;
    position: relative; }

.img-est-3 {
  position: relative;
  width: 100%;
  height: 55vh;
  margin-top: 9em;
  background-image: url("../img/img-est-3.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }
  .img-est-3 > .est-texts {
    bottom: -5vh;
    text-align: left;
    position: relative; }

.img-est-4 {
  position: relative;
  width: 100%;
  height: 55vh;
  margin-top: 9em;
  background-image: url("../img/img-est-4.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }
  .img-est-4 > .est-texts {
    bottom: -5vh;
    text-align: left;
    position: relative; }

.img-est-5 {
  position: relative;
  width: 100%;
  height: 92vh;
  margin-top: 3em;
  background-image: url("../img/img-est-5.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

/*Página Camarote Galera*/
.img-camarote {
  position: relative;
  width: 100%;
  height: 93vh;
  margin-top: 3em;
  background-image: url("../img/img-camarote.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

/*Página Empresa*/
.img-emp {
  position: relative;
  width: 100%;
  height: 65vh;
  margin-top: 3em;
  background-image: url("../img/img-emp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.bg-emp {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/img-emp-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/*Página Tour*/
.img-tour {
  position: relative;
  width: 100%;
  height: 62vh;
  margin-top: 6em;
  background-image: url("../img/img-tour.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }
  .img-tour > .est-texts {
    bottom: -10vh;
    text-align: left;
    position: relative; }

/*Página Pagamento*/
.img-pag {
  position: relative;
  width: 100%;
  height: 93vh;
  margin-top: 3em;
  background-image: url("../img/img-pag.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

/*Página Contato*/
.img-cont {
  position: relative;
  width: 100%;
  height: 30vh;
  margin-top: 9em;
  background-image: url("../img/img-pcs.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.img-logo-cont {
  position: relative;
  height: 14vh;
  margin-top: -9em;
  margin-right: 21vw;
  background-image: url(../img/logo-destaque.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

/*# sourceMappingURL=style.css.map */
