
.img-main
{
	position: relative;
	width: 100%;
    height: 93vh;
    margin-top: 3em;

	background-image: url('../img/img-main.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.bg-main
{
	position: relative;
	width: 100vw;
    height: 100vh;

	background-image: url('../img/img-main-2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


/*Página Artistas*/
.img-star-ivete
{
	position: relative;
	width: 100%;
    height: 93vh;
    margin-top: 3em;

	background-image: url('../img/img-stars.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.img-star-bell
{
	position: relative;
	width: 100%;
    height: 91vh;
    margin-top: 3em;

	background-image: url('../img/img-stars-1.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.img-star-claudia
{
	position: relative;
	width: 100%;
    height: 91vh;
    margin-top: 3em;

	background-image: url('../img/img-stars-2.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.img-star-leo
{
	position: relative;
	width: 100%;
    height: 92vh;
    margin-top: 3em;

	background-image: url('../img/img-stars-3.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.img-star-wesley
{
	position: relative;
	width: 100%;
    height: 92vh;
    margin-top: 3em;

	background-image: url('../img/img-stars-4.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.img-star-durval
{
	position: relative;
	width: 100%;
    height: 92vh;
    margin-top: 3em;

	background-image: url('../img/img-stars-5.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.img-star-harmonia
{
	position: relative;
	width: 100%;
    height: 94vh;
    margin-top: 3em;

	background-image: url('../img/img-stars-6.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.img-star-saulo
{
	position: relative;
	width: 100%;
    height: 92vh;
    margin-top: 3em;

	background-image: url('../img/img-stars-7.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.img-star-ricardo
{
	position: relative;
	width: 100%;
    height: 92vh;
    margin-top: 3em;

	background-image: url('../img/img-stars-8.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.img-star-oito7
{
	position: relative;
	width: 100%;
    height: 90vh;
    margin-top: 3em;

	background-image: url('../img/img-stars-9.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}


/*Página Estatísticas*/
.img-est-1
{
	position: relative;
	width: 100%;
    height: 92vh;
    margin-top: 3em;

	background-image: url('../img/img-est.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.img-est-2
{
	position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 11em;

    background-image: url(../img/img-est-2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

	> .est-texts {
	bottom: 0vh;
    text-align: left;
    position: relative;
	}
}

.img-est-3
{
	position: relative;
	width: 100%;    
    height: 55vh;
    margin-top: 9em;

	background-image: url('../img/img-est-3.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;

	> .est-texts {
	bottom: -5vh;
    text-align: left;
    position: relative;
	}
}

.img-est-4
{
	position: relative;
	width: 100%;    
    height: 55vh;
    margin-top: 9em;

	background-image: url('../img/img-est-4.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;

	> .est-texts {
	bottom: -5vh;
    text-align: left;
    position: relative;
	}
}

.img-est-5
{
	position: relative;
	width: 100%;
    height: 92vh;
    margin-top: 3em;

	background-image: url('../img/img-est-5.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

/*Página Camarote Galera*/
.img-camarote
{
	position: relative;
	width: 100%;
    height: 93vh;
    margin-top: 3em;

	background-image: url('../img/img-camarote.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/*Página Empresa*/
.img-emp
{
	position: relative;
	width: 100%;
    height: 65vh;
    margin-top: 3em;

	background-image: url('../img/img-emp.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.bg-emp
{
	position: relative;
	width: 100vw;
    height: 100vh;

	background-image: url('../img/img-emp-2.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


/*Página Tour*/
.img-tour
{
	position: relative;
	width: 100%;    
    height: 62vh;
    margin-top: 6em;

	background-image: url('../img/img-tour.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;

	> .est-texts {
	bottom: -10vh;
    text-align: left;
    position: relative;
	}
}

/*Página Pagamento*/
.img-pag
{
	position: relative;
	width: 100%;
    height: 93vh;
    margin-top: 3em;

	background-image: url('../img/img-pag.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/*Página Contato*/
.img-cont
{
	position: relative;
	width: 100%;
    height: 30vh;
    margin-top: 9em;

	background-image: url('../img/img-pcs.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.img-logo-cont
{
	position: relative;
    height: 14vh;
    margin-top: -9em;
    margin-right: 21vw;
	
    background-image: url(../img/logo-destaque.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
