html,
body {
    font-family: 'Helvetica', Arial, Sans-serif;
    font-size: 62.56%;
    background-image: url('../img/point.png');
}

.body {
    position: relative;
    display: block;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-size: 1.6rem;
    /*background-image: url('../img/point.png');*/
}

.orange {
    background-color: $orange
}

.purple {
    background-color: $purple
}

.rose {
    background-color: $rose
}

.header {
    position: fixed;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 1;
    >.container {
        height: 100%
    }
}

.controllers {
    position: fixed;
    display: inline-block;
    bottom: 15vh;
    left: 0;
    right: 0;
    z-index: 1;
    height: 10vh;
    >.container {
        height: 100%;
        >.text {
            float: left;
            height: 10vh;
            display: flex;
            align-items: center;
            >h3 {
                font-family: 'Share Tech', sans-serif;
                font-weight: 100;
                text-transform: uppercase;
                color: #fff;
                font-size: 2.5rem;
                margin: 0;
            }
        }
        >.button {
            float: right;
            margin: 0;
            height: 10vh;
            display: flex;
            align-items: center;
        }
    }
}

.logo {
    position: relative;
    padding-bottom: 7.2%;
    width: 30%;
    >img {
        position: absolute;
        display: block;
        height: 100%;
        max-width: 100%;
        // Hack
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        font-family: "object-fit: cover; object-position: center";
    }
}

.logo-footer {
    position: relative;
    padding-bottom: 4.22%;
    width: 14.57%;
    margin-bottom: -7px;
    >img {
        position: absolute;
        display: block;
        height: 100%;
        max-width: 100%;
        // Hack
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        font-family: "object-fit: cover; object-position: center";
    }
}

.pagina-1 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.btn {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Share Tech', sans-serif;
    display: inline-block;
    font-size: 18px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: transparent;
    color: $yellow;
    border: 1.5px solid $yellow;
}

.button1:hover {
    background-color: $yellow;
    color: $orange;
}


/*Página Principal*/

.main {
    position: relative;
    display: block;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.main-texts {
    bottom: -36vh;
    text-align: center;
    position: relative;
}

.main-texts-2 {
    bottom: -50vh;
    text-align: center;
    position: relative;
}

.main-title {
    display: flex;
    justify-content: center;
    >h1 {
        color: #fff600;
        font-size: 6.2rem;
        background: rgba(255, 110, 11, 0.7);
        padding: 0 20px;
        letter-spacing: 0.3em;
        font-family: 'Share Tech', sans-serif;
        margin: 0;
    }
}

.main-subtitle {
    >h2 {
        color: #fff;
        font-size: 3.2rem;
        letter-spacing: 0.6em;
        font-family: 'Share Tech', sans-serif;
        margin: 0;
    }
}

.footer-main {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    border-bottom: 12px solid $yellow;
}


/*Página Artistas*/

.star-texts {
    bottom: -20vh;
    text-align: left;
    position: relative;
}

.star-title {
    display: flex;
    justify-content: flex-start;
    >h1 {
        color: #fff;
        font-size: 4.5rem;
        background: rgba(82, 7, 122, 0.7);
        padding: 0 20px;
        letter-spacing: 0.2em;
        font-family: 'Share Tech', sans-serif;
        margin: 0;
    }
}

.star-subtitle {
    >h2 {
        color: #9d45c9;
        font-size: 26px;
        letter-spacing: 0.5em;
        font-family: 'Share Tech', sans-serif;
        padding-left: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.star-text {
    width: 28vw;
    >p {
        color: #fff;
        font-size: 18px;
        font-family: 'Share Tech', sans-serif;
        padding-left: 40px;
    }
}

.footer-stars {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    border-bottom: 12px solid $pink;
}


/*Página Estatísticas*/

.est-texts {
    bottom: -20vh;
    text-align: left;
    position: relative;
}

.est-title {
    display: flex;
    justify-content: flex-start;
    >h1 {
        color: $yellow;
        font-size: 6rem;
        padding: 0 20px;
        letter-spacing: 0.2em;
        font-family: 'Share Tech', sans-serif;
        margin: 0;
    }
}

.est-subtitle {
    >h2 {
        color: $purple;
        font-size: 26px;
        letter-spacing: 0.5em;
        font-family: 'Share Tech', sans-serif;
        padding-left: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.est-text {
    width: 28vw;
    >p {
        color: #fff;
        font-size: 18px;
        font-family: 'Share Tech', sans-serif;
        padding-left: 40px;
    }
}

.footer-est {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    border-bottom: 12px solid $purple;
}


/*Página Empresa*/

.emp-texts {
    bottom: -36vh;
    text-align: center;
    position: relative;
}

.emp-title {
    display: flex;
    justify-content: center;
    >h1 {
        color: $pink;
        font-size: 6.2rem;
        background: rgba(82, 7, 122, 0.7);
        padding: 0 20px;
        letter-spacing: 0.3em;
        font-family: 'Share Tech', sans-serif;
        margin: 0;
    }
}

.emp-subtitle {
    >h2 {
        color: #fff;
        font-size: 3rem;
        letter-spacing: 0.5em;
        font-family: 'Share Tech', sans-serif;
        margin: 0;
    }
}

.emp-title-1 {
    display: flex;
    justify-content: center;
    >h1 {
        color: $pink;
        font-size: 4rem;
        background: rgba(82, 7, 122, 0.7);
        padding: 0 20px;
        letter-spacing: 0.2em;
        font-family: 'Share Tech', sans-serif;
        margin: 0;
    }
}

.emp-subtitle-1 {
    >h2 {
        color: #fff;
        font-size: 2.5rem;
        letter-spacing: 0.2em;
        font-family: 'Share Tech', sans-serif;
        margin: 0;
    }
}


/*Página Pagamento*/

.pag-title {
    display: flex;
    justify-content: center;
    >h1 {
        color: #fff600;
        font-size: 5.6rem;
        background: rgba(255, 110, 11, 0.7);
        padding: 0 20px;
        letter-spacing: 0.2em;
        font-family: 'Share Tech', sans-serif;
        margin: 0;
    }
}

.pag-subtitle {
    >h2 {
        color: #fff;
        font-size: 3rem;
        letter-spacing: 0.5em;
        font-family: 'Share Tech', sans-serif;
        margin: 0;
    }
}


/*Página Contato*/

.cont-text {
    display: flex;
    justify-content: flex-end;
    margin-right: 16vw;
    >p {
        text-align: left;
        color: $yellow;
        font-size: 14px;
        font-family: 'Share Tech', sans-serif;
        padding-left: 40px;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///OWL 
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.owl-controls {
    height: 100vh;
}

.owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    cursor: pointer;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
    background: #869791;
}

.owl-theme .owl-nav {
    z-index: 2;
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #4DC7A0;
    color: #FFF;
    text-decoration: none;
}

.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #4DC7A0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 80px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*.nosupport 
{
	position: relative;
	height: 100vh;
	width: 100vw;
	background-color: red;
	z-index: 1000;

	> p {
		color: white;
	}

	@media only screen and (min-width: 500px) {
		display: none;
	}


}*/